<div class="root">
  <div class="content">
    <h2>Jfol Playground</h2>

    <p>
      Jfol Spec:
      <a href="https://jfol.meilcli.net/en/" target="_blank">Document</a>
    </p>

    <p>Json:</p>
    <textarea class="text-area" [(ngModel)]="json"></textarea>

    <p>Jfol:</p>
    <textarea class="text-area" [(ngModel)]="jfol"></textarea>

    <br />
    <button (click)="execute()">Execute</button>

    <p>Result:</p>
    <textarea class="text-area" [style.color]="resultTextColor">{{
      result
    }}</textarea>
  </div>
</div>
<router-outlet></router-outlet>
